<div class="col-md-12">
  <h1 class="page-header">Profile</h1>
</div>
<div class="col-md-12">
  <table class="table panel">
    <tr>
      <td style="width:100px">User Name</td>
      <td style="width:10px">:</td>
      <td>{{userInfo.username}}</td>
    </tr>
    <tr>
      <td>Role Name</td>
      <td>:</td>
      <td>{{userInfo.roleName}}</td>
    </tr>
  </table>
</div>
<div class="col-md-12">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Change Password</h3>
    </div>
    <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmitChangePassword(myForm.value, myForm.valid)">
      <div class="box-body">
        <div class="form-group">
          <label for="roleName">Current Password</label>
          <input type="password" class="form-control" placeholder="Current Password" formControlName="password"/>
          <control-messages [control]="myForm.controls.password"></control-messages>
        </div>
        <div class="form-group">
          <label for="roleName">New Password</label>
          <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"/>
          <control-messages [control]="myForm.controls.newPassword"></control-messages>
        </div>
        <div class="form-group">
          <label for="roleName">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"/>
          <control-messages [control]="myForm.controls.confirmPassword"></control-messages>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-success">Submit New Password</button>
      </div>
    </form>
  </div>
  <div *ngIf="response.error_message" class="alert alert-danger" style="margin-top:10px">{{response.error_message}}</div>
</div>