<div class="block-header">
  <h2>Modules</h2>
</div>
<div class="col-md-4" *ngFor="let item of moduleList">
  <div class="card">
    <div class="card-header ch-alt">
      <h2>Module : {{item.name}}</h2>
    </div>

    <div class="card-body table-responsive" tabindex="0" style="overflow: hidden; outline: none;">
      <table class="table">
        <tbody>
          <tr *ngFor="let itemChild of item.controller">
            <td>Controller_{{itemChild}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>