<div class="col-md-12">
  <h1 class="page-header">Modules</h1>
</div>

<div class="col-md-4" *ngFor="let item of moduleList">
  <div class="box box-warning">
    <div class="box-body" style="font-size: 16px">
      <strong>Module : {{item.name}}</strong>
    </div>
    <div class="box-footer no-padding">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" *ngFor="let itemChild of item.controller">
          <a>Controller_{{itemChild}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>